annotated-types==0.7.0
asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.1
django-allauth==64.0.0
django-cors-headers==4.4.0
djangorestframework==3.15.2
idna==3.7
instaloader==4.13
jsonpatch==1.33
jsonpointer==3.0.0
langchain-core==0.2.33
langgraph==0.2.4
langgraph-checkpoint==1.0.3
langsmith==0.1.99
orjson==3.10.7
packaging==24.1
pillow==10.4.0
pydantic==2.8.2
pydantic_core==2.20.1
pytesseract==0.3.13
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
soupsieve==2.5
sqlparse==0.5.1
tenacity==8.5.0
typing_extensions==4.12.2
urllib3==2.2.2
